ul.skills {
    list-style-image: url("../img/icon16.png");
}

div.container {
    max-width: 860px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

a.btn-outline-light {
    border: none;
}

img.avatar {
   width: 200px;
   height: 200px;
}
